.girl {
  /* background-color: rgb(20, 20, 20); */
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.girl1 {
  /* background-color:white; */
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: relative;
}
.girl11 {
  background-color: white;
  width: 45%;
  height: 90%;
}
.girl11 img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.girl12 {
  /* background-color: white; */
  width: 55%;
  height: 90%;
}
.girl21 {
  /* background-color: white; */
  width: 100%;
  height: 50%;
}
.girl21 p {
  font-family: "Quicksand", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-size: 70px;
}

.girl22 {
  /* background-color: rgb(8, 8, 8); */
  width: 75%;
  height: 45%;
  position: absolute;
  right: 0px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.g1 {
  background-color: antiquewhite;
  width: 90%;
  height: 80%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  gap: 10px;
}
.cool {
  font-size: 20px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
