.box1 {
  width: 20%;
  height: 60%;
  background-color: rgb(233, 233, 228);
  border-radius: 20px;
  border-color: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  font-size: 20px;
  gap: 10px;
}
.truck {
  font-size: 50px;
  margin-top: 20px;
}
